/************BASIC SETUP************/

*{
    margin :0px;
    padding:0px;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    color: rgb(29, 28, 28);
    font-family:'Lato','Arial','sans-serif';
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row{
    width: 1140px;
    margin: auto;
}

/************* Creating Clear class for float function ************************/
.clearfix {zoom: 1}
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

/************HEADER DECORATION************/
header{
    background-image: linear-gradient(rgba(65, 63, 63, 0.699),rgba(65, 63, 63, 0.699)),url(img/hero.jpg);
    background-position: center;
    background-size: cover; /* Image size will be front page of browser*/
    height: 100vh; /* This will do background image height 100vh */
    background-attachment: fixed;
}

/************HEADING DECORATION************/
.hero-text-box{
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

section{
    padding: 60px 0;
}
.section-features .long-copy{
    margin-bottom: 30px;
}
h1,h2,h3{
    font-weight: 300; 
    text-transform: uppercase;
}
h1{
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h2{
    font-size: 160%;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
    word-spacing: 2px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color:rgb(223, 100, 29) ;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
}

.long-copy{
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

.box{
    padding: 1%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.box p{
    line-height: 125%;
}

/* Decoration of icons */
.icon{
    font-size: 300%;
    display: block;
    color:rgb(223, 100, 29);
}
/************BUTTON DECORATION************/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    border-radius: 100px;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.2s,color 0.2s, border 0.2s;  /* This will create time delay in transition of effect between 
    link(or visited) and hover( or active) */
}

/* link is the state before the button click or arrow on button.
visited is the state after the button click or arrow on button*/
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    color:#fff ;
    background-color: rgb(223, 100, 29);
    border: 1px solid rgb(223, 100, 29);
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: rgb(223, 100, 29) ;
    /* background-color: #fff; */
    border: 1px solid rgb(223, 100, 29);
}

/* hover is the state when we take mouse pointer at the link
   active is the state when click on link */
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover{
    color:#fff ;
    background-color: rgb(146, 63, 15);
    border: 1px solid rgb(146, 63, 15);
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #fff ;
    background-color: rgb(146, 63, 15);
    border: 1px solid rgb(146, 63, 15);
}

/************LOGO DECORATION************/
.logo{
    height: 100px;
    width: auto;
    float: left ;
    margin-top: 20px;
}
.logo-black{
    display: none;
    height: 60px;
    width: auto;
    float: left;
    margin: 10px 0px;
}

/************NAVIGATION************/
.main-navigation{
    display: inline-block;
    float: right;
}

.main-navigation li{
    margin-top: 60px;
    list-style: none;
}

.main-navigation li a:link,
.main-navigation li a:visited{
    color: #fff;
    margin-left: 60px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation li a:hover,
.main-navigation li a:active{
    color: #fff;
    margin-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(223, 100, 29);
}

/* Sticky Navigation */
.sticky{
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0 2px 2px rgb(223, 221, 221);
    z-index: 9999;
}
.sticky .main-navigation li{
    margin-top: 30px;
    float: right;
}
.sticky .main-navigation li a:link,
.sticky .main-navigation li a:visited{
    color: #555;
    margin-left: 20px;
}
.sticky .main-navigation li a:hover,
.sticky .main-navigation li a:active{
    padding-bottom: 20px;
}
.sticky .logo-black{
    display: block;
    height: 60px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.sticky .logo{display: none;}
/* *********** Meals section **************/

.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    width: 25%;
    float: left;
}
.meals-photo{
    margin: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.meals-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s ;
}
.meals-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/***************
How it work section decoration 
****************/
.sub-title{
    padding: 0px;
}
.section-steps{
    padding: 0px;
    background-color: rgb(233, 233, 233);
}
.steps-box:first-child{
    margin-top: 30px;
    padding-right: 3%;
    text-align: right;
}
.steps-box:last-child{
    margin-top: 80px;
    padding-left: 3%;
    
}
.app-screen{
    width: 40%;
    height: auto; 
}
.work-steps{
    margin-bottom: 50px;
}
.work-steps:last-of-type{
    margin-bottom: 80px;
}
.work-steps div{
    /* margin-right:10px; */
    color:rgb(223, 100, 29);
    font-size: 150%;
    border: 2px solid rgb(223, 100, 29);
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    float: left;
    margin-left: 25px ;

}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
/*****
This section is decoration of city 
*****/
.box img{
    width: 100%;
    margin-bottom: 15px;
}
.section-city{
    padding: 50px;
}
.small-icon{
    display: inline-block;
    width: 25px;
    color: rgb(223, 100, 29);
    font-size: 120%;
}
.city-feature a:link,
.city-feature a:visited {
    color:rgb(223, 100, 29);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid  rgb(223, 100, 29);
    transition: border-bottom 0.2s, color 0.2s;
}
.city-feature a:hover,
.city-feature a:active {
    color: rgb(29, 28, 28);
    border-bottom: 1px solid  transparent;
}

/* 
Testinomials section decoration
*/
.section-testinomials{
    background-image: linear-gradient(rgba(34, 34, 34, 0.699),rgba(32, 32, 32, 0.699)), url(img/back-customers.jpg);
    background-size: cover;
    color: rgb(161, 167, 173);
    background-attachment: fixed;/* This will fix the background photo when we scroll slides*/
    padding-top: 30px;
}
blockquote{
    font-size: 90%;
    font-style: italic;
    line-height: 140%;
    padding-bottom:15px ;
    padding: 2%;
    position: relative;
    margin-top: 30px;
}
/* IF WE HAVE USE ABSOLUTE POSITION THEN ITS PARENTS MUST HAS POSITION RELATIVE */
/* This class is for quotation marks  */
blockquote:before{
    content: "\201c"; /*This code is obtain from internet and this is for quotes*/
    font-size: 400%;
    position: absolute;
    left: -5px;
    top: -5px;
    display: block;
    /* margin-top: 15px; */
}
cite{
    font-size: 80%;
    display: block; /*It will create cite as different box*/
}
cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /* This attribute aline whole box to vertically align*/
}

/* 
Sign Up section decoration
*/
.section-plans{
    background-color: rgb(233, 233, 233);
    padding: 30px;
}
.plan-box{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 2px 4px 2px rgb(94, 88, 88);

}
.plan-box div ul{
    list-style: none;
}
.plan-box div ul li{
    padding: 5px 0;
    font-style: normal;
}
.plan-box div{
    padding-top: 15px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.plan-box div:last-child{
    text-align: center;
    border: 0px;
}
.plan-price{
    font-size: 300%;
    color: rgb(223, 100, 29);
    font-weight: 100;
    margin-bottom: 10px;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}
.s-icon{
    padding-right: 5px;
}
/*
Decoration of Form Section 
*/
.section-form{
    padding-top: 30px;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
}
textarea{
    height: 100px;
}
/* This is other way of calling a class */
input[type=checkbox]{ 
    margin: 10px 5px 10px 0px;
}
.contact-form{
    text-align: left;
    padding-left: 10%;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* This section is for footer */
footer{
    background-color: rgb(31, 29, 29);
    padding-top: 40px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
    font-size: 100%;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.social-links li:last-child{
    margin-right: 0px;
}
.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited{
    color: rgb(151, 151, 151) ;
    transition: color 0.5s;
}
.footer-nav a:hover,
.footer-nav a:active{
    color: rgb(231, 230, 230) ;
    font-size: 90%;
}
.ion-social-facebook:hover,
.ion-social-facebook:active{
    color: #3b5998;
    font-size: 110%;
}
.ion-social-twitter:hover,
.ion-social-twitter:active{
    color: #00aced;
    font-size: 110%;
}
.ion-social-googleplus:hover,
.ion-social-googleplus:hover{
    color: #dd4b39;
    font-size: 110%;
}
.ion-social-instagram:hover,
.ion-social-instagram:active{
    color: #517fa4;
    font-size: 110%;
}
footer p{
    text-align: center;
    color: rgb(151, 151, 151);
}

/*Animation on scroll  */
.js-wp-1,
.js-wp-2,
.js-wp-3
{
    opacity: 0;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
.js-wp-4{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated
{
    opacity: 1;
}
